.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .wishlistBlock {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .image {
    width: 80px;
    height: auto;
    margin-right: 1rem;
    border-radius: 8px;
  }
  